<!DOCTYPE html>
<html>
    <%-include('headpart.ejs')%>
    <body>
    <% if(board.type === 'none') { %>
        <%=board.body%>
    <% } else if(board.type === 'images') { %>
        <% for(let img of board.mediapath) { %>
            <img src=<%=`\\${img}`%>>
        <% } %>
    <% } else { %>
        <video src=<%=`\\${board.mediapath[0]}`%>>
    <% } %>
    <ul style="list-style: none; padding:0;">
        <% for(let tag of board.hashtags) { %>
            <a href=<%=`/boards?tokens=${tag}`%>>
                <li style="display: inline-block; margin-right:10px;">
                    <%=`#${tag}`%>
                </li>
            </a>
        <% } %>
    </ul>
    <a href=<%=`/boards?page=${page}`%>>목록</a>
    </body>
</html>